@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <h1>.employable.</h1>
        <p class="btn btn-primary btn-lg">@Html.ActionLink("Learn More", "Index", "Home") &raquo; </p>
    </div>
</div>
<div class="jumbotron" style="padding: 0;">
    <div class="container">
    <div class="row" style="height: auto;">
        <div class="col-xs-6" style="background-image: url(http://ww2.kqed.org/pop/wp-content/uploads/sites/12/2013/03/HireMe.jpeg)"></div>
        <div class="col-xs-6" style="background-image: url(http://www.oknation.net/blog/home/user_data/file_data/201406/07/1144740.jpg)"></div>
    </div>
    </div>
</div>


<div class="row">
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
</div>